<div class="panel-heading pointer" {{action 'clickHeader'}}>
  <h4 class="panel-title">
    {{panelTitle}}
    <span class="pull-right">
      {{#if isActive}}
        <i class="fa fa-chevron-down"></i>
      {{else}}
        <i class="fa fa-chevron-left"></i>
      {{/if}}
    </span>
  </h4>
</div>
{{#if isActive}}
  {{yield}}
{{/if}}