$manager-blue: #BBDEFB;
#sidenav {
  img.icon-nav {
    height: 45px;
  }
  .info-box {
    text-align: center;
    padding: 10px;
    border: 2px solid darken(#0D47A1, 25%);
    background-color: #eee;
    margin-bottom: 15px;
  }
  .info-title {
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    &::after {
      content: ":";
    }
  }
  .info-data {
    padding-right: 10px;
  }
}
