{{#modal-dialog close='closeModal' translucentOverlay=true}}
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group btn-group-lg" role="group">
        {{#link-to "apix.accounts.new" class="btn btn-success"}}
          {{fa-icon "plus"}}
          New Warehouse
        {{/link-to}}
        {{#link-to "apix.accounts.index" class="btn btn-default"}}
          My Warehouses
        {{/link-to}}
        {{#link-to "apix.employees" class="btn btn-default"}}
          My Employers
        {{/link-to}}
      </div>
    </div>
    <div class="col-xs-12">
      {{outlet}}
    </div>
  </div>
{{/modal-dialog}}

